@charset "UTF-8";

/*---共通---*/
html {
    font-size: 100%;
    line-height: 1.5;
}
body {
    line-height: 2rem;
    width:100%;
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
h1 {
    margin: 1em 0;
}
p {
    margin: 1em;

}
.delay-time25 {
    animation-delay: 0.25s;
}
.delay-time50 {
    animation-delay: 0.5s;
}
.delay-time75 {
    animation-delay: 0.75s;
}

/*---header---*/
.page-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #EEEEEE;
    z-index: 10;
}
.wrapper {
    padding: 0 4%;
}
.logo1 {
    width: 11rem;
    padding: 1rem;
}
.main-nav {
    display:flex;
    font-size: 1.25rem;
    list-style: none;
}
.main-nav li {
    margin-left: 2.5em;
    position: relative;
}
.main-nav li a:hover {
    color: orange;
}
.main-nav li a::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: 0;
    left: 0;
    /*線の形状*/
    width: 100%;
    height: 2px;
    background: orange;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: center top;/*上部中央基点*/
}
/*現在地とhoverの設定*/
.main-nav li a:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}
/*ハンバーガーメニュー*/
.sideMenu {
    background-color: #fff;
    height: 20rem;
    overflow-y: auto;
    padding-top: 56px;
    position: fixed;
    top: -50vh;
    transition: all 0.6s;
    left: 0;
    width: 100%;
    z-index: 500;
}
.sideMenu_nav {
    list-style: none;
    text-align: center;
}
.sideMenu_li {
    display: block;
    margin: 20px 8% 20px 0;
}
.hamburger {
  cursor: pointer;
  height: 56px;
  position: absolute;
  right: 0;
  top: 0;
  width: 56px;
  z-index: 1000;
  display: none;
}
.hamburger span {
  background-color: #111;
  height: 1px;
  left: 11px;
  position: absolute;
  transition: all 0.6s;
  width: 30px;
}
.hamburger__lineTop {
  top: 15px;
}
.hamburger__lineCenter {
  top: 23px;
}
.hamburger__lineBottom {
  top: 31px;
}
.hamburger__lineBottom::after {
	content:"Menu";/*3つ目の要素のafterにMenu表示を指定*/
	position: absolute;
	top:4px;
	left:0;
	font-size: 0.6rem;
	text-transform: uppercase;
}

.overlay {
  background-color: #000;
  cursor: pointer;
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: all 0.6s;
  visibility: hidden;
  width: 100vw;
  z-index: 100;
}
/* メニューが開いた時のCSS */
/* nav-openクラスが付与されるとメニューが現れる */
/*上から登場させたい場合にコメントアウト解除*/
.nav-open .sideMenu {
    background-color: #fff;
    top: 0;
}
/* nav-openクラスが付与されると線が回転して×になり、Menu⇒Closeに変更*/
.nav-open .hamburger__lineTop {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}
.nav-open .hamburger__lineCenter {
	opacity: 0;
}
.nav-open .hamburger__lineBottom {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}
.nav-open .hamburger__lineBottom::after {
	content:"Close";/*3つ目の要素のafterにClose表示を指定*/
    transform: translateY(0) rotate(-45deg);
	top:5px;
	left:5px;
}
/* nav-openクラスが付与されると背景透過。visibilityが無いと効果なし。*/
.nav-open .overlay {
  opacity: 0.8;
  visibility: visible;
}

/*---headerここまで---*/


/*--トップ画像--*/
.top-image {
    background-image: url("../image/compass-2946957_1920.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    text-align:center;
    padding: 20rem 0 15rem 0;
    color: white;
    margin-top: 5rem;/*--ヘッダーとの重なりを避ける--*/
}

/*--見出し--*/
.page-title {
    font-size: 4.5rem;
    font-family: 'Philosopher', serif;
    text-transform: uppercase;
}

.top-image p {
    font-size: 2rem;
    margin: 3rem 0;
}

  /*--クリック前から光るボタン8--*/
 .shiny-btn8 {
    display: block;
    position: relative;
    width: 20%;/*ボタンの幅*/
    padding: 0.75em 0;
    margin: 2em auto;
    background: linear-gradient(to bottom right, red, orange);/*ボタンの色*/
    box-shadow: 0 3px 0 0 #a0522d;/*影の色(rgbaの値を変更)*/
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.75vw;
    color: #fff;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
  }
  .shiny-btn8:hover {
    text-decoration: none;
/*     color: #fff;
 */    color: #ff8c00;
    background-color:#FFFFE0;
/*     opacity: 0.8;
 */    box-shadow: none;
    -webkit-transform: translateY(3px);
  }
  .shiny-btn8::before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn8 3s ease-in-out infinite;
  }
  .shiny-btn8::after {
    content: "\f054";
    font-family: 'Font Awesome 5 Free';
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 0.5em;
  }
  @-webkit-keyframes shiny-btn8 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
  }
.inner-cap {
    color: black;
    background-color: #fff;
    font-size: 1rem;
    text-align: center;
    z-index: 1;
    ]
}
/*モーダル画面*/
/* #start {
    display: none;
} */
/*モーダル2*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;/*モーダルウィンドウを中央配置にするための記述①*/
    padding: 40px;
    position: absolute;/*モーダルウィンドウを中央配置にするための記述②*/
    top: 50%;/*モーダルウィンドウを中央配置にするための記述③*/
    transform: translate(-50%,-50%);/*モーダルウィンドウを中央配置にするための記述④*/
    width: 50%;
}
.input-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.text-line {
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    background-color: snow;
    width: 80%;
}
.form-btn {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #CCFFCC;
    width: 20%;
    margin: 0 28%;
}

/*--トップ画像ここまで--*/

/*--メイン--*/
.main-content {
    text-align: center;
    margin: 10vw 0;
}

/*--モード選択--*/
.mode-select h1 {
    display: block;
    padding-top: 13vh;
    margin-top: -10vh;
}
.mode-select {
    margin: 10vw 0;
}
.container {
    display: flex;
}
.mode {
    margin-bottom: 1rem;
}
.item {
    margin: 10px;
    padding: 10px;
}
.mode-pic {
    transform: scale(1);
    transition: .3s ease-in-out;/*移り変わる速さを変更したい場合はこの数値を変更*/
}
.mode-pic:hover {
    cursor: pointer;
    transform: scale(1.2);/*拡大の値を変更したい場合はこの数値を変更*/
}
.mask {
    display: block;
    line-height: 0;/*行の高さを0にする*/
    overflow: hidden;/*拡大してはみ出る要素を隠す*/
}
.container p {
    color: gray;
}
/* fadeUp */
.fadeUp{
    animation-name: fadeUpAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity:0;
    }
    
    @keyframes fadeUpAnime{
      from {
        opacity: 0;
        transform: translateY(100px);
      }
    
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

/*--職業紹介--*/
#job-introduction h1 {
    display: block;
    padding-top: 13vh;
    margin-top: -10vh;
}
.job-introduction {
    margin: 10vw 0;
}

.job-item {
    margin: 10px;
    padding: 10px;
    width: 25%;
}
/*
.container job {
    align-self: auto;
}
*/
/* flipLeft */
.flipLeft{
    animation-name: flipLeftAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;
    perspective-origin: left center;
    opacity:0;
    }
    
    @keyframes flipLeftAnime{
      from {
       transform: perspective(600px) translate3d(0, 0, 0) rotateY(30deg);
         opacity: 0;
      }
    
      to {
      transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
      opacity: 1;
      }
    }

/*--世界観紹介--*/
.world-introduction {
    margin: 7vw 0;
}

.world-container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.world-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.place {
    width: 50%;
    padding: 0 10px;
}

.place p {
    color: gray;
}

/*--よくある質問（アコーディオン全体）--*/
#faq-area h1 {
    display: block;
    padding-top: 13vh;
    margin-top: -10vh;
}
.faq-area {
    margin: 7vw 0;
}
.accordion-area {
    list-style: none;
    width: 90%;
    display: inline-block;
    text-align: center;
}

.accordion-area li {
    margin: 10px 0;
}

.accordion-area section {
    border-bottom: 1px solid #ccc;
}

/*--アコーディオンタイトル--*/
.title {
    position: relative;
    cursor: pointer;
    font-size: 1rem;
    font-weight: normal;
    transition: all .5s ease;
    padding-right: 10%;
}

/*--アイコンの+と×--*/
.title::before,
.title::after {
    position: absolute;
    content: '';
    width: 15px;
    height: 2px;
    background-color: #333;
}

.title::before {
    top: 48%;
    right: 15px;
    transform: rotate(180deg);
}

.title::after {
    top: 48%;
    right: 15px;
    transform: rotate(90deg);
}

/*--closeというクラスがついたら形状変化--*/
.title.close::before {
    transform: rotate(180deg);
}

.title.close::after {
    transform: rotate(180deg);
}

/*--アコーディオンで現れるエリア--*/
.box {
    display: none; /*--最初は非表示--*/
    background: #f3f3f3;
    margin: 2% 2% 2%;
    padding: 1%;
}

.toggle_title.selected:after {
	transform: translateY(-50%);
	transition: 0.2s;
}
.toggle_txt {
	display: none;
    color: silver;
}

/*--フッター--*/
footer {
    background-color:  #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    font-size: 0.7rem;
}

/*--タブレット--*/
@media (max-width: 768px) {
    .main-nav {
        font-size: 1rem;
    }    
    .main-nav li {
        margin-left: 1em;
    }
    .top-image {
        padding: 10rem 0 5rem 0;
    }
    .page-title {
        font-size: 3rem;
    }
    .top-image p {
        font-size: 1.5rem;
        margin: 1.5rem 0;
    }
    .top-image a {
        font-size: 1rem;
    }
    .shiny-btn8::after {
        font-size: 0.9rem;
      }    
    .modal__content{
        width: 70%;
    }
    .job-item {
        margin: 0.25em;
        padding: 0.25em;
    }
}
/*--スマホ--*/
@media (max-width: 480px) {
    html {
        font-size: 80%;
    }
    p {
        display: inline-block;
        width: 80%;
        margin: 0.25em;
    }
    body {
        line-height: 20px;
        overflow-x: hidden;
    }
    .page-header {
        justify-content: center;
    }
    .hamburger {
        display: inline;
    }
    .main-nav {
        display: none;
    }
    .top-image {
        padding: 5rem 0;
    }
    .page-title {
        font-size: 2rem;
    }    
    .top-image p {
        font-size: 1rem;
    }
    .top-image a {
        font-size: 1rem;
    }
    .shiny-btn8 {
        width: 32%;
        margin: 0.5em auto;
    }
    .shiny-btn8::after {
        font-size: 1rem;
    }
    .inner-cap {
        z-index: -1;
        display: none;
    }
    .modal__content{
        width: 70%;
    }
    .text-line {
        width: 100%;
    }
    .container {
        flex-direction: column;
    }
    .job-item {
        width: 100%;
        margin-bottom: 50px;
    }
    .job-icon {
        width: 40%;
    }
    .world-container-1 {
        flex-direction: column;
        margin-bottom: 50px;
    }
    .world-container-2 {
        flex-direction: column;
        margin-bottom: 50px;
    }
    .place {
        width: 100%;
    }
    .toggle_title {
        line-height: 20px;
    }
}
